<h1>Card Set Index</h1>

<ul class="cardset">
  <% @cardsets.each do |cardset| %>
    <li class="cardset">
        CARD SET: <%= link_to("#{cardset.name}", cardset_path(cardset.code))%>
    </li>
  <% end %>
</ul>

<%= link_to("Homepage", root_path) %>
