<h1><%= @cardset.name %></h1>



<ul class="card-images">
	<div class="row">
		  <% @cardset.cards.each do |card| %>
			    <li class="responsive-img col s4">
			        <%= image_tag(card.image_url) %>
			    </li>
		  <% end %>
  	<div>
</ul>

<%= link_to("Homepage", root_path) %>

Cool. Cool cool cool.
