<h1><%= @cardset.name %></h1>

<ul class="card-images">
  <% @cards.each do |card| %>
    <li class="card-image">
        <%= image_tag(card.image_url) %>
    </li>
  <% end %>
</ul>

<%= paginate @cards %>

<%= link_to("Homepage", root_path) %>

Cool. Cool cool cool.
