<h1><%= @cardset.name %></h1>



<ul class="valign-wrapper container card-images">
  <% @cards.each do |card| %>
    <li class="responsive-img col s4">
        <%= image_tag(card.image_url) %>
    </li>
  <% end %>
</ul>

<%= paginate @cards %>
