@import "materialize";

/******************************
SIDEBAR
// ******************************/
// .body{
// 	position:relative;
// }

.body{
	width:100vw;
}


.sidebar-top {
	// float: left;
	position: absolute;
	padding-left: 50px;
	margin-right: 2%;
	width: 25vw;

}

.menu-sidebar {
	background-color: white;
	border: 2px solid #ecf0f1;
	height: 100vh;
	padding: 10px;

}

.menu-items {
	color: #019FCE;
}

.yield {
	// display: inline-block;
	margin-left: auto;
	width: 70vw;
	position:relative;

	// float: left;
}


.valign-wrapper ul{
  display:inline-block;
	margin:none;
	position:relative;
	height:100vh;

}

.valign-wrapper {
	display: inline-block;
		width: inherit;
}

.valign-wrapper.container.card-images ul{
	display: inline-block;
	-webkit-padding-start: 10px;
}

.responsive-img img{
	width:200px;
	margin:0;
	display:inline-block;
	margin-bottom:15px;
	-webkit-padding-start: 10px;

}

li.responsive-img.col.s4 {
	width: auto;
}

nav.pagination{
	position:absolute;
	bottom:0;
	right:0;
}
.container {
	padding-bottom: 50px;
}

nav {
	background-color: #311b92;
}
